*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
p{
    letter-spacing: 0.5px;
    line-height: 1.6;
}
nav{
    margin:0;
    background-color: black;
    font-weight: bolder;
    color: white;
    padding: 5px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
}
ul li{

    font-size: 20px;
}
.fa-bars{
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #383b3f;
}
.intro{
    display: flex;
    margin: 0 auto;
    width: 40vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 5vh;
}
.intro h2{
    padding-top: 20px;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 0;
}
.intro p{
    font-size: 18px;
    color: #6c757d;
}
#main{
    background-color: #0d6efd;
}
#secondary{
    background-color: rgb(108, 107, 107);
}
.intro button{
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
}
.album{
    background-color: #f8f9fa;
    margin: 10px;
    padding: 100px 250px;
    
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img{
    display: flex;
    width: 300px;
    flex-direction: column;
    width: 2;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 6px;
}
.ender{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.img .thumbnail{
    padding: 100px 10px;
    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    background-color: #55595c;
    color: white;
}
.img p,button{
    padding:10px
}
.ender p{
    color: rgb(144, 140, 140);
}
.actions{
    margin-left: 10px;
    display: flex;
}
.actions button{
    border: 1px solid rgb(40, 40, 40);
    background-color: #ffffff;
    opacity: 0.6;
}
.actions :nth-child(1){
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.actions :nth-child(2){
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.actions :first-child{
    border-right: none;
}
.row{
    display: flex;
    flex-grow: 1;
    gap:20px
}
.row>*{
    flex-grow: 1;
}
footer{
    padding: 0 250px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
@media screen and (max-width:1000px) {
    .row{
        flex-direction: column;
    }
    ul{
        padding: 10px 20vw;
    }
    .album{
        flex-direction: column;
        padding: 100px 10vw;
    }
    footer{
        padding: 10px 20vw;
    }
   
}
@media screen and (max-width:430px){
    ul{
        padding: 10px;
    }
    .img{
        
        flex-direction: column;
    }
    .intro{
        width: unset;
        padding: 20px;
    }
    .album{
        flex-direction: column;
        padding: 10px;
    }
    footer{
        padding: 10px;
    }
 
}

